*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.grid-container {
  background-color: rgb(243, 243, 243);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 3 columns */
  grid-template-rows: repeat(6, 1fr);
  /* 3 rows */
  height: 100vh;
  /* Full screen height */
  width: 100vw;
  /* Full screen width */
  overflow-x: hidden;
  
}
.grid-item1 {

  grid-column: 1 / 1;
  grid-row: 1 / -1;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  margin-right: 0;
  
}

.grid-item2 {

  background-color: white;
  grid-column: 2 / 5;
  height: 70px;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  margin-bottom:0;
  
  
}

.grid-item3 {
  background-color:white;
  grid-column: 2/ 5;
  grid-row: 2 / -1;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 0;

}





